In [2]:
import numpy as np
import pandas as pd
import gensim
from gensim.corpora import Dictionary

### Files locations

In [1]:
FILE_USERS = "../../data/raw_users.csv"
FILE_USERS_TWEETS = "../../data/raw_tweets.csv"
FILE_RETWEETERS = "../../data/retweets.csv"
FILE_RETWEETERS_USERS = "../../data/retweets_users.csv"
POPULARITY = "../../data/popularity_v2.csv"

### Load Datasets

In [3]:
users_df = pd.read_csv(filepath_or_buffer=FILE_USERS, sep=",")
users_tweets_df = pd.read_csv(filepath_or_buffer=FILE_USERS_TWEETS, sep=",")

# users_df = users_df[:100]
# users_tweets_df = users_tweets_df[:100]

/var/folders/7r/g2lhjv3x7bb_lgcnhj7_q9hr0000gn/T/ipykernel_3299/2831473434.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  users_df = pd.read_csv(filepath_or_buffer=FILE_USERS, sep=",")

In [4]:
users_df

,Unnamed: 0,user_id,name,username,followers,following,tweet_count,verified,created_at
0,0,874735375,ARobles,anthonysradical,278,203,3844,False,2012-10-12 01:55:26+00:00
1,1,2331261888,James Smith Jr,iamjamesnumber1,2292,4490,96610,False,2014-02-07 04:06:30+00:00
2,2,1043073024092766208,"STOP SAYING POC, IT‚Äôs A CUSS WORD",ADOSALLY1,1076,1190,13969,False,2018-09-21 09:42:43+00:00
3,3,1350969232897552385,Pure Rap Podcast,PureRapPodcast,2465,2111,27373,False,2021-01-18 00:52:30+00:00
4,4,811604288443187200,April Showers ‚õàüå™üí´,moonlitefire,1570,874,27642,False,2016-12-21 16:08:36+00:00
...,...,...,...,...,...,...,...,...,...
1072382,1072382,608420462,1056050,Skeeter_Bentley,388,0,5846,False,2012-06-14 19:30:38
1072383,1072383,786792941658382339,1056051,billybr61,503,504,32684,False,2016-10-14 04:57:10
1072384,1072384,497947909,1056052,BobGoble,2754,3176,117664,False,2012-02-20 14:46:48
1072385,1072385,50706690,1056053,511NY,3579,193,5447942,False,2009-06-25 17:22:38
1072386,1072386,72356014,1056054,deafheron,2066,926,19027,False,2009-09-07 19:07:16

In [5]:
users_tweets_df

,Unnamed: 0,tweet_id,text,user_id,timestamp,tweet_type,like_count,reply_count,retweet_count,quote_count,device,lang,topics_ids,topics,referenced_tweets
0,0,1473095873357746185,Bullshit ass holding call right now bro agains...,874735375,2021-12-21 00:59:59+00:00,Original Tweet,0,0,0,0,iPhone,en,"['3', '6', '11', '26', '27', '28']","['TV Shows', 'Sports Event', 'Sport', 'Sports ...",NaN
1,1,1473095873118806021,Me at parties when my social meter has reached...,2331261888,2021-12-21 00:59:59+00:00,Original Tweet,5,0,4,1,iPhone,en,[],[],NaN
2,2,1473095869780180994,‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏èOh My!!!! Today is a good day!!!...,1043073024092766208,2021-12-21 00:59:58+00:00,Original Tweet,9,0,3,0,iPhone,en,['123'],['Ongoing News Story'],NaN
3,3,1473095868546879489,Giveaway entry has ended! üö® https://t.co/WcVKk...,1350969232897552385,2021-12-21 00:59:58+00:00,Quote Tweet,3,0,1,0,iPhone,en,"['46', '47']","['Brand Category', 'Brand']","[ReferencedTweet(id: 1468043149188632583, type..."
4,4,1473095868534431744,Heard it was @MillerLite Monday.. drink respon...,811604288443187200,2021-12-21 00:59:58+00:00,Original Tweet,35,10,0,0,Android,en,"['45', '46', '47', '65', '66', '67']","['Brand Vertical', 'Brand Category', 'Brand', ...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072382,1072382,1223002761480101890,"Yep, that‚Äôs usually how it goesüòÇ https://t.co/...",608420462,2020-01-30 21:59:15,Original Tweet,1,0,0,0,iPhone,en,[],[],NaN
1072383,1072383,1223002761387814912,If you don't know Adam ant Dirty bag Schiff-le...,786792941658382339,2020-01-30 21:59:15,Quote Tweet,0,0,1,0,Android,en,"['10', '35']","['Person', 'Politician']","[ReferencedTweet(id: 1223000963356790784, type..."
1072384,1072384,1223002759601016834,"Make no mistake, because of republican rules a...",497947909,2020-01-30 21:59:14,Original Tweet,0,0,0,0,Android,en,"['45', '46', '47']","['Brand Vertical', 'Brand Category', 'Brand']",NaN
1072385,1072385,1223002759147982851,Cleared: Incident on #I287 NB at North of Exit...,50706690,2020-01-30 21:59:14,Original Tweet,0,0,0,0,NaN,en,[],[],NaN
1072386,1072386,1223002759118585857,Soul Blind full set live @ First Unitarian Chu...,72356014,2020-01-30 21:59:14,Original Tweet,73,1,31,7,iPhone,en,[],[],NaN

### Sort tweets by timestamp

In [7]:
users_tweets_df = users_tweets_df.sort_values(by='timestamp', ascending=True).reset_index()
users_tweets_df.head(5)

,index,Unnamed: 0,tweet_id,text,user_id,timestamp,tweet_type,like_count,reply_count,retweet_count,quote_count,device,lang,topics_ids,topics,referenced_tweets
0,1028700,1028700,1212176422770544641,2Ô∏è‚É£0Ô∏è‚É£1Ô∏è‚É£9Ô∏è‚É£ WHAT. A. YEAR. üåü #bestnine2019 #t...,29885607,2020-01-01 00:59:14,Original Tweet,35,0,1,0,iPhone,en,[],[],NaN
1,1028701,1028701,1212176421659062274,Gold N Hot ü§™ https://t.co/VeO2k4Mq4h,1130217871286636545,2020-01-01 00:59:14,Quote Tweet,0,0,0,0,iPhone,en,[],[],"[ReferencedTweet(id: 1212167212120920072, type..."
2,1028698,1028698,1212176423189909506,and he still cheating https://t.co/zYAQ8wc6Vg,3322006549,2020-01-01 00:59:15,Quote Tweet,2,2,1,7,iPhone,en,"['10', '60']","['Person', 'Athlete']","[ReferencedTweet(id: 1211878384961228802, type..."
3,1028697,1028697,1212176425916280833,Got my hot coco bc it cold out siiiiide boii h...,18707915,2020-01-01 00:59:15,Original Tweet,1,1,0,0,iPhone,en,[],[],NaN
4,1028696,1028696,1212176426088181760,Disgruntled Pope Francis pulls himself free fr...,858762062,2020-01-01 00:59:15,Original Tweet,0,0,0,0,Android,en,"['10', '46', '47']","['Person', 'Brand Category', 'Brand']",NaN

### Delete duplicate users

In [8]:
users_df.shape

(1072387, 9)

In [9]:
users_df = users_df.drop_duplicates(subset=['user_id'], keep="first")
users_df

,Unnamed: 0,user_id,name,username,followers,following,tweet_count,verified,created_at
0,0,874735375,ARobles,anthonysradical,278,203,3844,False,2012-10-12 01:55:26+00:00
1,1,2331261888,James Smith Jr,iamjamesnumber1,2292,4490,96610,False,2014-02-07 04:06:30+00:00
2,2,1043073024092766208,"STOP SAYING POC, IT‚Äôs A CUSS WORD",ADOSALLY1,1076,1190,13969,False,2018-09-21 09:42:43+00:00
3,3,1350969232897552385,Pure Rap Podcast,PureRapPodcast,2465,2111,27373,False,2021-01-18 00:52:30+00:00
4,4,811604288443187200,April Showers ‚õàüå™üí´,moonlitefire,1570,874,27642,False,2016-12-21 16:08:36+00:00
...,...,...,...,...,...,...,...,...,...
1072375,1072375,324616347,1056043,TwitTitty10,388,251,38688,False,2011-06-26 23:10:32
1072376,1072376,249105428,1056044,gwarmothwftv,10598,189,17492,True,2011-02-08 11:19:53
1072381,1072381,395058107,1056049,sgeezy99,572,773,6236,False,2011-10-21 02:06:15
1072382,1072382,608420462,1056050,Skeeter_Bentley,388,0,5846,False,2012-06-14 19:30:38
1072386,1072386,72356014,1056054,deafheron,2066,926,19027,False,2009-09-07 19:07:16

### Calculate tweet reach

#### These values indicate the maximum possible of people that could have seen a given tweet

To do this, a sum of all the original tweet user's followers is made with the followers from all the users that retweeted/quoted the tweet

Note: this assumes that if a retweet is then shared by retweet again, those next audiences are not taken into account

In [10]:
t_retweeters = pd.read_csv(filepath_or_buffer=FILE_RETWEETERS_USERS, sep=",")
t_retweeters_tweets = pd.read_csv(filepath_or_buffer=FILE_RETWEETERS, sep=",")

In [11]:
t_retweeters_tweets.head()

,Unnamed: 0,tweet_id,text,user_id,timestamp,tweet_type,like_count,reply_count,retweet_count,quote_count,device,lang,topics_ids,topics,referenced_tweets
0,0,1475758320568971271,RT @Keiththebat: Zack Snyder's back must be so...,3457095793,2021-12-28 09:19:36,Retweet Tweet,0,0,4,0,Android,en,[],[],"[ReferencedTweet(id: 1473095800364351490, type..."
1,1,1473588933883801601,RT @Keiththebat: Zack Snyder's back must be so...,1206541010408333313,2021-12-22 09:39:14,Retweet Tweet,0,0,4,0,Bot,en,[],[],"[ReferencedTweet(id: 1473095800364351490, type..."
2,2,1473588921749573635,RT @Keiththebat: Zack Snyder's back must be so...,1369228958739263488,2021-12-22 09:39:11,Retweet Tweet,0,0,4,0,Android,en,[],[],"[ReferencedTweet(id: 1473095800364351490, type..."
3,3,1473430854680838144,RT @gameallniteshow: Getting in some Coffee Tr...,3223132542,2021-12-21 23:11:05,Retweet Tweet,0,0,2,0,Android,en,[],[],"[ReferencedTweet(id: 1473095644709535745, type..."
4,4,1473324608963100679,RT @Tails7354: Sonic X: FIU Eye-Catch Card: Fl...,1256240643258671105,2021-12-21 16:08:54,Retweet Tweet,0,0,2,0,iPhone,en,[],[],"[ReferencedTweet(id: 1473200836071329793, type..."

In [12]:
def get_ref_tweet_id(ref_tweets):
    g = str(ref_tweets)
    if isinstance(g, str) and g != 'nan':
        return g.split()[1].replace(',', '')
    else: return None

In [13]:
t_retweeters_tweets['ref_tweed_id'] = t_retweeters_tweets['referenced_tweets'].apply(lambda ref_tweet: get_ref_tweet_id(ref_tweet))

In [14]:
def get_retweeters_reach(tweet_id, total_reach):
    retweets_users_ids = t_retweeters_tweets[t_retweeters_tweets['ref_tweed_id'] == tweet_id]['user_id'].tolist()
    for user_id in retweets_users_ids:
        total_reach += t_retweeters[t_retweeters['user_id'] == user_id]['followers'].sum()

In [15]:
def calculate_tweet_reach(tweet_id, user_id):
    total_reach = 0
    total_reach += users_df[users_df['user_id'] == user_id]['followers'].sum()
    get_retweeters_reach(tweet_id, total_reach)
    return total_reach

In [ ]:
users_tweets_df['reach'] = users_tweets_df.apply(lambda tweet_row: calculate_tweet_reach(tweet_row['tweet_id'], tweet_row['user_id']), axis=1)
users_tweets_df.head(5)

### Topic analysis

#### Loading the previously trained topic analysis model and it's evaluations of each tweet text

In [15]:
users_tweets_df.head(5)

,Unnamed: 0,tweet_id,text,user_id,timestamp,tweet_type,like_count,reply_count,retweet_count,quote_count,device,lang,topics_ids,topics,referenced_tweets,reach
794525,794525,1212176606699180032,IM READY FOR BTS,1078318888851513347,2020-01-01 00:59:58,Original Tweet,0,0,0,0,iPhone,en,[],[],NaN,100
794528,794528,1212176606678044674,I have over 50 cousins i found out about and t...,591385371,2020-01-01 00:59:58,Original Tweet,2,0,0,0,iPhone,en,[],[],NaN,366
794529,794529,1212176606677979136,What/who do you miss the most from your childh...,1103804603877871616,2020-01-01 00:59:58,Original Tweet,0,1,0,0,NaN,en,[],[],NaN,1131
794530,794530,1212176606627815431,Where is that same 70' Degree weather that we ...,32706756,2020-01-01 00:59:58,Original Tweet,0,0,0,0,NaN,en,"['65', '66', '119', '65', '66']","['Interests and Hobbies Vertical', 'Interests ...",NaN,145
794531,794531,1212176606619480064,Lmao the way I screamed!!! üòÇüòÇüòÇüòÇ https://t.co/1...,42065215,2020-01-01 00:59:58,Original Tweet,0,0,0,0,iPhone,en,[],[],NaN,23168

In [16]:
import json

def process_topic(topics:str):
    s = topics
    for i in range(topics.count('\'')):
        s = s.replace('\'', '"')
    t = json.loads(s)
    if len(t) > 0:
        return t[0]
    return None

In [17]:
users_tweets_df['topics'] = users_tweets_df['topics'].apply(lambda topics: process_topic(topics))
users_tweets_df['topics_ids'] = users_tweets_df['topics_ids'].apply(lambda topics: process_topic(topics))
users_tweets_df.head(5)

,Unnamed: 0,tweet_id,text,user_id,timestamp,tweet_type,like_count,reply_count,retweet_count,quote_count,device,lang,topics_ids,topics,referenced_tweets,reach
794525,794525,1212176606699180032,IM READY FOR BTS,1078318888851513347,2020-01-01 00:59:58,Original Tweet,0,0,0,0,iPhone,en,None,None,NaN,100
794528,794528,1212176606678044674,I have over 50 cousins i found out about and t...,591385371,2020-01-01 00:59:58,Original Tweet,2,0,0,0,iPhone,en,None,None,NaN,366
794529,794529,1212176606677979136,What/who do you miss the most from your childh...,1103804603877871616,2020-01-01 00:59:58,Original Tweet,0,1,0,0,NaN,en,None,None,NaN,1131
794530,794530,1212176606627815431,Where is that same 70' Degree weather that we ...,32706756,2020-01-01 00:59:58,Original Tweet,0,0,0,0,NaN,en,65,Interests and Hobbies Vertical,NaN,145
794531,794531,1212176606619480064,Lmao the way I screamed!!! üòÇüòÇüòÇüòÇ https://t.co/1...,42065215,2020-01-01 00:59:58,Original Tweet,0,0,0,0,iPhone,en,None,None,NaN,23168

### Sentiment analysis

In [18]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

def sentiment_scores(sentence, prints):
    if prints: print("\nSentence:", sentence)

    sid_obj = SentimentIntensityAnalyzer()
    sentiment_dict = sid_obj.polarity_scores(sentence)

    if sentiment_dict['compound'] >= 0.05:
        if prints: print("Positive")
        return "Positive"
    elif sentiment_dict['compound'] <= - 0.05:
        if prints: print("Positive")
        return "Negative"
    else:
        if prints: print("Neutral")
        return "Neutral"

In [19]:
users_tweets_df['sentiment'] = users_tweets_df['text'].apply(lambda tweet_text: sentiment_scores(tweet_text, False))

In [20]:
users_tweets_df.head(5)

,Unnamed: 0,tweet_id,text,user_id,timestamp,tweet_type,like_count,reply_count,retweet_count,quote_count,device,lang,topics_ids,topics,referenced_tweets,reach,sentiment
794525,794525,1212176606699180032,IM READY FOR BTS,1078318888851513347,2020-01-01 00:59:58,Original Tweet,0,0,0,0,iPhone,en,None,None,NaN,100,Positive
794528,794528,1212176606678044674,I have over 50 cousins i found out about and t...,591385371,2020-01-01 00:59:58,Original Tweet,2,0,0,0,iPhone,en,None,None,NaN,366,Neutral
794529,794529,1212176606677979136,What/who do you miss the most from your childh...,1103804603877871616,2020-01-01 00:59:58,Original Tweet,0,1,0,0,NaN,en,None,None,NaN,1131,Negative
794530,794530,1212176606627815431,Where is that same 70' Degree weather that we ...,32706756,2020-01-01 00:59:58,Original Tweet,0,0,0,0,NaN,en,65,Interests and Hobbies Vertical,NaN,145,Negative
794531,794531,1212176606619480064,Lmao the way I screamed!!! üòÇüòÇüòÇüòÇ https://t.co/1...,42065215,2020-01-01 00:59:58,Original Tweet,0,0,0,0,iPhone,en,None,None,NaN,23168,Positive

### Tweet popularity

To define tweet popularity, each tweet with at least 1 retweet or 1 quote tweet was considered popular (1)
if the criteria wasn't met it was marked as unpopular (0)

In [21]:
def tweet_popularity_label(retweet_count, quote_count):
    if retweet_count > 0 or quote_count > 0:
        return 1
    else:
        return 0

In [22]:
users_tweets_df['popularity'] = users_tweets_df.apply(lambda row: tweet_popularity_label(row['retweet_count'], row['quote_count']), axis=1)

In [23]:
users_tweets_df['popularity'].value_counts()

0    853120
1    203142
Name: popularity, dtype: int64

In [24]:
popularity_df = pd.merge(users_tweets_df[['tweet_id', 'text', 'timestamp', 'user_id', 'like_count', 'retweet_count', 'quote_count', 'reply_count', 'reach', 'topics_ids', 'topics', 'sentiment', 'popularity']],
                   users_df[['user_id', 'followers', 'following', 'tweet_count', 'verified', 'created_at']],
                   on="user_id")
popularity_df.head(5)

,tweet_id,text,timestamp,user_id,like_count,retweet_count,quote_count,reply_count,reach,topics_ids,topics,sentiment,popularity,followers,following,tweet_count,verified,created_at
0,1212176606699180032,IM READY FOR BTS,2020-01-01 00:59:58,1078318888851513347,0,0,0,0,100,None,None,Positive,0,100,390,3961,False,2018-12-27 15:57:12
1,1212176606678044674,I have over 50 cousins i found out about and t...,2020-01-01 00:59:58,591385371,2,0,0,0,366,None,None,Neutral,0,366,134,34882,False,2012-05-26 22:28:16
2,1212176606677979136,What/who do you miss the most from your childh...,2020-01-01 00:59:58,1103804603877871616,0,0,0,1,1131,None,None,Negative,0,1131,714,2212,False,2019-03-07 23:48:20
3,1212538995021713410,What is your best advice for living a happy life?,2020-01-02 00:59:58,1103804603877871616,0,0,1,0,1131,None,None,Positive,1,1131,714,2212,False,2019-03-07 23:48:20
4,1212176606627815431,Where is that same 70' Degree weather that we ...,2020-01-01 00:59:58,32706756,0,0,0,0,145,65,Interests and Hobbies Vertical,Negative,0,145,293,2860,False,2009-04-18 01:22:32

### Combine the two datasets into the final one

For every tweet select the relevant columns and merge the corresponding information from the original user

In [25]:
popularity_df.to_csv(POPULARITY, sep=',', date_format='%Y-%m-%d %H:%M:%S')

In [26]:
popularity_df

,tweet_id,text,timestamp,user_id,like_count,retweet_count,quote_count,reply_count,reach,topics_ids,topics,sentiment,popularity,followers,following,tweet_count,verified,created_at
0,1212176606699180032,IM READY FOR BTS,2020-01-01 00:59:58,1078318888851513347,0,0,0,0,100,None,None,Positive,0,100,390,3961,False,2018-12-27 15:57:12
1,1212176606678044674,I have over 50 cousins i found out about and t...,2020-01-01 00:59:58,591385371,2,0,0,0,366,None,None,Neutral,0,366,134,34882,False,2012-05-26 22:28:16
2,1212176606677979136,What/who do you miss the most from your childh...,2020-01-01 00:59:58,1103804603877871616,0,0,0,1,1131,None,None,Negative,0,1131,714,2212,False,2019-03-07 23:48:20
3,1212538995021713410,What is your best advice for living a happy life?,2020-01-02 00:59:58,1103804603877871616,0,0,1,0,1131,None,None,Positive,1,1131,714,2212,False,2019-03-07 23:48:20
4,1212176606627815431,Where is that same 70' Degree weather that we ...,2020-01-01 00:59:58,32706756,0,0,0,0,145,65,Interests and Hobbies Vertical,Negative,0,145,293,2860,False,2009-04-18 01:22:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1056257,1477036841400520704,WE KEEP ALL THE PARTY IN THE ROOM ALL NIGHT,2021-12-31 21:59:59+00:00,1404228064062722051,0,0,0,0,181,None,None,Positive,0,181,482,5561,False,2021-06-14 00:04:08+00:00
1056258,1477036841429716992,wasn't the dispatch couple reveal a dud for 20...,2021-12-31 21:59:59+00:00,1214674663126646785,0,0,0,1,127,None,None,Negative,0,127,63,29566,False,2020-01-07 22:26:27+00:00
1056259,1477036841429782531,Jaymes joung - infinite üéµ,2021-12-31 21:59:59+00:00,283225511,0,0,0,0,1352,None,None,Neutral,0,1352,1914,34181,False,2011-04-16 21:15:42+00:00
1056260,1477036841429872644,2022 y‚Äôall gonna see a fucking monster.,2021-12-31 21:59:59+00:00,602195855,0,1,0,0,1082,None,None,Neutral,1,1082,1325,18474,False,2012-06-07 20:59:09+00:00
1056261,1477036842704797697,It looks Amazing!!! „ÉΩ(¬¥‚àÄ`„ÄÇ)Ôæâ To see this on th...,2021-12-31 21:59:59+00:00,1364878549937651714,1,0,0,1,59,119,Holiday,Positive,0,59,183,3252,False,2021-02-25 10:03:18+00:00