In [199]:
import pandas as pd
import numpy as np
import json

### Files locations

In [31]:
FILE_USERS = "../../data/raw_users.csv"
FILE_USERS_TWEETS = "../../data/raw_tweets.csv"
FILE_RETWEETERS = "../../data/retweets.csv"
FILE_RETWEETERS_USERS = "../../data/retweets_users.csv"
POPULARITY = "../../data/popularity_v2.csv"

### Load Datasets

In [32]:
df_users = pd.read_csv(filepath_or_buffer=FILE_USERS, sep=",")
df_tweets = pd.read_csv(filepath_or_buffer=FILE_USERS_TWEETS, sep=",")

# df_users = df_users[:100]
# df_tweets = df_tweets[:100]

/var/folders/7r/g2lhjv3x7bb_lgcnhj7_q9hr0000gn/T/ipykernel_21207/1493569851.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_users = pd.read_csv(filepath_or_buffer=FILE_USERS, sep=",")

In [33]:
df_users

,Unnamed: 0,user_id,name,username,followers,following,tweet_count,verified,created_at
0,0,874735375,ARobles,anthonysradical,278,203,3844,False,2012-10-12 01:55:26+00:00
1,1,2331261888,James Smith Jr,iamjamesnumber1,2292,4490,96610,False,2014-02-07 04:06:30+00:00
2,2,1043073024092766208,"STOP SAYING POC, IT‚Äôs A CUSS WORD",ADOSALLY1,1076,1190,13969,False,2018-09-21 09:42:43+00:00
3,3,1350969232897552385,Pure Rap Podcast,PureRapPodcast,2465,2111,27373,False,2021-01-18 00:52:30+00:00
4,4,811604288443187200,April Showers ‚õàüå™üí´,moonlitefire,1570,874,27642,False,2016-12-21 16:08:36+00:00
...,...,...,...,...,...,...,...,...,...
1072382,1072382,608420462,1056050,Skeeter_Bentley,388,0,5846,False,2012-06-14 19:30:38
1072383,1072383,786792941658382339,1056051,billybr61,503,504,32684,False,2016-10-14 04:57:10
1072384,1072384,497947909,1056052,BobGoble,2754,3176,117664,False,2012-02-20 14:46:48
1072385,1072385,50706690,1056053,511NY,3579,193,5447942,False,2009-06-25 17:22:38
1072386,1072386,72356014,1056054,deafheron,2066,926,19027,False,2009-09-07 19:07:16

In [34]:
df_tweets

,Unnamed: 0,tweet_id,text,user_id,timestamp,tweet_type,like_count,reply_count,retweet_count,quote_count,device,lang,topics_ids,topics,referenced_tweets
0,0,1473095873357746185,Bullshit ass holding call right now bro agains...,874735375,2021-12-21 00:59:59+00:00,Original Tweet,0,0,0,0,iPhone,en,"['3', '6', '11', '26', '27', '28']","['TV Shows', 'Sports Event', 'Sport', 'Sports ...",NaN
1,1,1473095873118806021,Me at parties when my social meter has reached...,2331261888,2021-12-21 00:59:59+00:00,Original Tweet,5,0,4,1,iPhone,en,[],[],NaN
2,2,1473095869780180994,‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏èOh My!!!! Today is a good day!!!...,1043073024092766208,2021-12-21 00:59:58+00:00,Original Tweet,9,0,3,0,iPhone,en,['123'],['Ongoing News Story'],NaN
3,3,1473095868546879489,Giveaway entry has ended! üö® https://t.co/WcVKk...,1350969232897552385,2021-12-21 00:59:58+00:00,Quote Tweet,3,0,1,0,iPhone,en,"['46', '47']","['Brand Category', 'Brand']","[ReferencedTweet(id: 1468043149188632583, type..."
4,4,1473095868534431744,Heard it was @MillerLite Monday.. drink respon...,811604288443187200,2021-12-21 00:59:58+00:00,Original Tweet,35,10,0,0,Android,en,"['45', '46', '47', '65', '66', '67']","['Brand Vertical', 'Brand Category', 'Brand', ...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072382,1072382,1223002761480101890,"Yep, that‚Äôs usually how it goesüòÇ https://t.co/...",608420462,2020-01-30 21:59:15,Original Tweet,1,0,0,0,iPhone,en,[],[],NaN
1072383,1072383,1223002761387814912,If you don't know Adam ant Dirty bag Schiff-le...,786792941658382339,2020-01-30 21:59:15,Quote Tweet,0,0,1,0,Android,en,"['10', '35']","['Person', 'Politician']","[ReferencedTweet(id: 1223000963356790784, type..."
1072384,1072384,1223002759601016834,"Make no mistake, because of republican rules a...",497947909,2020-01-30 21:59:14,Original Tweet,0,0,0,0,Android,en,"['45', '46', '47']","['Brand Vertical', 'Brand Category', 'Brand']",NaN
1072385,1072385,1223002759147982851,Cleared: Incident on #I287 NB at North of Exit...,50706690,2020-01-30 21:59:14,Original Tweet,0,0,0,0,NaN,en,[],[],NaN
1072386,1072386,1223002759118585857,Soul Blind full set live @ First Unitarian Chu...,72356014,2020-01-30 21:59:14,Original Tweet,73,1,31,7,iPhone,en,[],[],NaN

### Sort tweets by timestamp

In [35]:
df_tweets = df_tweets.sort_values(by='timestamp', ascending=True).reset_index()
df_tweets.head(5)

,index,Unnamed: 0,tweet_id,text,user_id,timestamp,tweet_type,like_count,reply_count,retweet_count,quote_count,device,lang,topics_ids,topics,referenced_tweets
0,1028700,1028700,1212176422770544641,2Ô∏è‚É£0Ô∏è‚É£1Ô∏è‚É£9Ô∏è‚É£ WHAT. A. YEAR. üåü #bestnine2019 #t...,29885607,2020-01-01 00:59:14,Original Tweet,35,0,1,0,iPhone,en,[],[],NaN
1,1028701,1028701,1212176421659062274,Gold N Hot ü§™ https://t.co/VeO2k4Mq4h,1130217871286636545,2020-01-01 00:59:14,Quote Tweet,0,0,0,0,iPhone,en,[],[],"[ReferencedTweet(id: 1212167212120920072, type..."
2,1028698,1028698,1212176423189909506,and he still cheating https://t.co/zYAQ8wc6Vg,3322006549,2020-01-01 00:59:15,Quote Tweet,2,2,1,7,iPhone,en,"['10', '60']","['Person', 'Athlete']","[ReferencedTweet(id: 1211878384961228802, type..."
3,1028697,1028697,1212176425916280833,Got my hot coco bc it cold out siiiiide boii h...,18707915,2020-01-01 00:59:15,Original Tweet,1,1,0,0,iPhone,en,[],[],NaN
4,1028696,1028696,1212176426088181760,Disgruntled Pope Francis pulls himself free fr...,858762062,2020-01-01 00:59:15,Original Tweet,0,0,0,0,Android,en,"['10', '46', '47']","['Person', 'Brand Category', 'Brand']",NaN

### Delete duplicate users

In [36]:
df_users.shape

(1072387, 9)

In [37]:
df_users = df_users.drop_duplicates(subset=['user_id'], keep="first")
df_users

,Unnamed: 0,user_id,name,username,followers,following,tweet_count,verified,created_at
0,0,874735375,ARobles,anthonysradical,278,203,3844,False,2012-10-12 01:55:26+00:00
1,1,2331261888,James Smith Jr,iamjamesnumber1,2292,4490,96610,False,2014-02-07 04:06:30+00:00
2,2,1043073024092766208,"STOP SAYING POC, IT‚Äôs A CUSS WORD",ADOSALLY1,1076,1190,13969,False,2018-09-21 09:42:43+00:00
3,3,1350969232897552385,Pure Rap Podcast,PureRapPodcast,2465,2111,27373,False,2021-01-18 00:52:30+00:00
4,4,811604288443187200,April Showers ‚õàüå™üí´,moonlitefire,1570,874,27642,False,2016-12-21 16:08:36+00:00
...,...,...,...,...,...,...,...,...,...
1072375,1072375,324616347,1056043,TwitTitty10,388,251,38688,False,2011-06-26 23:10:32
1072376,1072376,249105428,1056044,gwarmothwftv,10598,189,17492,True,2011-02-08 11:19:53
1072381,1072381,395058107,1056049,sgeezy99,572,773,6236,False,2011-10-21 02:06:15
1072382,1072382,608420462,1056050,Skeeter_Bentley,388,0,5846,False,2012-06-14 19:30:38
1072386,1072386,72356014,1056054,deafheron,2066,926,19027,False,2009-09-07 19:07:16

## Calculate tweet reach

#### These values indicate the maximum possible of people that could have seen a given tweet

To do this, a sum of all the original tweet user's followers is made with the followers from all the users that retweeted/quoted the tweet

Note: this assumes that if a retweet is then shared by retweet again, those next audiences are not taken into account

In [133]:
df_retweeters = pd.read_csv(filepath_or_buffer=FILE_RETWEETERS_USERS, sep=",")
df_retweets = pd.read_csv(filepath_or_buffer=FILE_RETWEETERS, sep=",")

In [134]:
df_retweets.head()

,Unnamed: 0,tweet_id,text,user_id,timestamp,tweet_type,like_count,reply_count,retweet_count,quote_count,device,lang,topics_ids,topics,referenced_tweets
0,0,1475758320568971271,RT @Keiththebat: Zack Snyder's back must be so...,3457095793,2021-12-28 09:19:36,Retweet Tweet,0,0,4,0,Android,en,[],[],"[ReferencedTweet(id: 1473095800364351490, type..."
1,1,1473588933883801601,RT @Keiththebat: Zack Snyder's back must be so...,1206541010408333313,2021-12-22 09:39:14,Retweet Tweet,0,0,4,0,Bot,en,[],[],"[ReferencedTweet(id: 1473095800364351490, type..."
2,2,1473588921749573635,RT @Keiththebat: Zack Snyder's back must be so...,1369228958739263488,2021-12-22 09:39:11,Retweet Tweet,0,0,4,0,Android,en,[],[],"[ReferencedTweet(id: 1473095800364351490, type..."
3,3,1473430854680838144,RT @gameallniteshow: Getting in some Coffee Tr...,3223132542,2021-12-21 23:11:05,Retweet Tweet,0,0,2,0,Android,en,[],[],"[ReferencedTweet(id: 1473095644709535745, type..."
4,4,1473324608963100679,RT @Tails7354: Sonic X: FIU Eye-Catch Card: Fl...,1256240643258671105,2021-12-21 16:08:54,Retweet Tweet,0,0,2,0,iPhone,en,[],[],"[ReferencedTweet(id: 1473200836071329793, type..."

In [135]:
df_retweeters.head()

,Unnamed: 0,user_id,name,username,followers,following,tweet_count,verified,created_at
0,0,3457095793,SALEH ALOTAIBI,SALEHAL49202807,29,0,7473,False,2015-09-05 07:49:00
1,1,1206541010408333313,DC Tweets,RetweetDc,7851,40,406311,False,2019-12-16 11:47:16
2,2,1369228958739263488,Cottencandy,Cottenc57931689,100,309,30127,False,2021-03-09 10:10:16
3,3,3223132542,„Ç¢„Éû„Éé,sikkoukakari,3383,4707,10649,False,2015-05-22 10:48:05
4,4,1256240643258671105,üíôSonic The Dragonhogüåô (On hiatus),SDragonhog,657,1017,121701,False,2020-05-01 15:15:05

### Removing duplicated retweeters

37432 retweeters will be removed

In [136]:
df_retweeters.shape

(278349, 9)

In [137]:
df_retweeters = df_retweeters.drop_duplicates(subset=['user_id'], keep="first")
df_retweeters

,Unnamed: 0,user_id,name,username,followers,following,tweet_count,verified,created_at
0,0,3457095793,SALEH ALOTAIBI,SALEHAL49202807,29,0,7473,False,2015-09-05 07:49:00
1,1,1206541010408333313,DC Tweets,RetweetDc,7851,40,406311,False,2019-12-16 11:47:16
2,2,1369228958739263488,Cottencandy,Cottenc57931689,100,309,30127,False,2021-03-09 10:10:16
3,3,3223132542,„Ç¢„Éû„Éé,sikkoukakari,3383,4707,10649,False,2015-05-22 10:48:05
4,4,1256240643258671105,üíôSonic The Dragonhogüåô (On hiatus),SDragonhog,657,1017,121701,False,2020-05-01 15:15:05
...,...,...,...,...,...,...,...,...,...
278344,278344,3736161195,‚ÄèŸé,noahsoIo,4020,290,29116,False,2015-09-22 06:42:48
278345,278345,1220520282017976320,Ju Quer Abra√ßar O Joshüá®üá¶‚ô•Ô∏è,uniter_juju,11,79,57,False,2020-01-24 01:35:01
278346,278346,42664231,Gilbert Economic Dev,GilbertAZEcoDev,3215,557,3657,True,2009-05-26 16:51:49
278347,278347,86356349,"Gilbert, Arizona",GilbertYourTown,25992,2666,22969,True,2009-10-30 17:18:49
278348,278348,19893170,Brigette Peterson,BrigetteDP,1573,1103,13235,False,2009-02-02 04:32:22

In [138]:
df_retweets.shape

(278349, 15)

In [139]:
df_retweets = df_retweets.sort_values(by='timestamp', ascending=True).reset_index()
df_retweets.head(5)

,index,Unnamed: 0,tweet_id,text,user_id,timestamp,tweet_type,like_count,reply_count,retweet_count,quote_count,device,lang,topics_ids,topics,referenced_tweets
0,267872,267872,1212176450679377921,This is the way and only way Jay Armstrong Cut...,833382201785978882,2020-01-01 00:59:21,Quote Tweet,1,0,1,0,Android,en,[],[],"[ReferencedTweet(id: 1212175890785996801, type..."
1,267871,267871,1212176611627458560,RT @LexingtonPD: TRAFFIC ALERT - A collision o...,3028245479,2020-01-01 01:00:00,Retweet Tweet,0,0,4,0,iPhone,en,[],[],"[ReferencedTweet(id: 1212176549769830401, type..."
2,267870,267870,1212176685002571776,RT @alsilicaniyours: This is the way and only ...,833382201785978882,2020-01-01 01:00:17,Retweet Tweet,0,0,1,0,Android,en,[],[],"[ReferencedTweet(id: 1212176450679377921, type..."
3,267869,267869,1212176700861227009,Let‚Äôs not https://t.co/gMH6UWVB6q,27785930,2020-01-01 01:00:21,Quote Tweet,0,3,0,0,iPhone,en,[],[],"[ReferencedTweet(id: 1212176423189909506, type..."
4,267868,267868,1212176835603288064,RT @LexingtonPD: TRAFFIC ALERT - A collision o...,1012475880248143873,2020-01-01 01:00:53,Retweet Tweet,0,0,4,0,Android,en,[],[],"[ReferencedTweet(id: 1212176549769830401, type..."

### Merge retweets datasets

In [140]:
df_retweets_info = pd.merge(df_retweets[['tweet_id', 'user_id', 'topics', 'referenced_tweets']], df_retweeters[['user_id', 'followers', 'following']], how='left', on="user_id")
df_retweets_info.head(5)

,tweet_id,user_id,topics,referenced_tweets,followers,following
0,1212176450679377921,833382201785978882,[],"[ReferencedTweet(id: 1212175890785996801, type...",20,622
1,1212176611627458560,3028245479,[],"[ReferencedTweet(id: 1212176549769830401, type...",11059,4125
2,1212176685002571776,833382201785978882,[],"[ReferencedTweet(id: 1212176450679377921, type...",20,622
3,1212176700861227009,27785930,[],"[ReferencedTweet(id: 1212176423189909506, type...",10230,6114
4,1212176835603288064,1012475880248143873,[],"[ReferencedTweet(id: 1212176549769830401, type...",9685,10633

### Removing non-direct retweets

When colecting the retweets some tweets that mencioned the url of the original tweet and because of that were also collected as "retweets".
Since this tipe of tweets don't count to the retweet count of the original tweet and they only represent 0,0012% of the retweets collected they will be removed

In [141]:
df_retweets_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278349 entries, 0 to 278348
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   tweet_id           278349 non-null  int64
 1   user_id            278349 non-null  int64
 2   topics             278349 non-null  object
 3   referenced_tweets  278019 non-null  object
 4   followers          278349 non-null  int64
 5   following          278349 non-null  int64
dtypes: int64(4), object(2)
memory usage: 14.9+ MB

In [142]:
df_retweets_info[pd.isna(df_retweets_info['referenced_tweets'])]

,tweet_id,user_id,topics,referenced_tweets,followers,following
465,1213173157735141376,786792941658382339,[],NaN,503,504
635,1213652399782604806,876320380792844292,[],NaN,539,398
645,1213731859131064320,3315742299,[],NaN,326,464
685,1213908969183424513,3215222674,[],NaN,405,446
2325,1216434627549847555,1089894708208373761,[],NaN,1017,1244
...,...,...,...,...,...,...
277556,1489616172404420614,838245040858222592,[],NaN,1214,2244
277584,1490216196716875780,1456396368361279492,[],NaN,715,386
277593,1490692560209207298,1468588637415944192,[],NaN,109,193
277759,1492506389503254537,1328709172423249921,[],NaN,99,538
278001,1501938999199363086,309268913,[],NaN,1889,3823

In [143]:
df_retweets[df_retweets['tweet_id'] == 1213652399782604806]['text']

635    #FlyEaglesFly #PhillyvsEveryone https://t.co/G...
Name: text, dtype: object

In [144]:
df_retweets_info = df_retweets_info[df_retweets_info['referenced_tweets'].notna()]

In [153]:
def get_ref_tweet_id(ref_tweets):
    g = str(ref_tweets)
    if isinstance(g, str) and g != 'nan' and not pd.isna(g):
        return int(g.split()[1].replace(',', ''))
    else: return None

In [154]:
df_retweets_info['ref_tweed_id'] = df_retweets_info['referenced_tweets'].apply(lambda ref_tweet: get_ref_tweet_id(ref_tweet))
df_retweets_info.head()

,tweet_id,user_id,topics,referenced_tweets,followers,following,ref_tweed_id
0,1212176450679377921,833382201785978882,[],"[ReferencedTweet(id: 1212175890785996801, type...",20,622,1212175890785996801
1,1212176611627458560,3028245479,[],"[ReferencedTweet(id: 1212176549769830401, type...",11059,4125,1212176549769830401
2,1212176685002571776,833382201785978882,[],"[ReferencedTweet(id: 1212176450679377921, type...",20,622,1212176450679377921
3,1212176700861227009,27785930,[],"[ReferencedTweet(id: 1212176423189909506, type...",10230,6114,1212176423189909506
4,1212176835603288064,1012475880248143873,[],"[ReferencedTweet(id: 1212176549769830401, type...",9685,10633,1212176549769830401

In [179]:
df_tweets['ref_tweed_id'] = df_tweets['referenced_tweets'].apply(lambda ref_tweet: get_ref_tweet_id(ref_tweet))
# converting the reference ids that exist to int
df_tweets['ref_tweed_id'] = pd.to_numeric(df_tweets['ref_tweed_id'], errors='coerce').fillna(0).astype(np.int64)
df_tweets.head()

,index,Unnamed: 0,tweet_id,text,user_id,timestamp,tweet_type,like_count,reply_count,retweet_count,quote_count,device,lang,topics_ids,topics,referenced_tweets,ref_tweed_id
0,1028700,1028700,1212176422770544641,2Ô∏è‚É£0Ô∏è‚É£1Ô∏è‚É£9Ô∏è‚É£ WHAT. A. YEAR. üåü #bestnine2019 #t...,29885607,2020-01-01 00:59:14,Original Tweet,35,0,1,0,iPhone,en,[],[],NaN,0
1,1028701,1028701,1212176421659062274,Gold N Hot ü§™ https://t.co/VeO2k4Mq4h,1130217871286636545,2020-01-01 00:59:14,Quote Tweet,0,0,0,0,iPhone,en,[],[],"[ReferencedTweet(id: 1212167212120920072, type...",1212167212120920064
2,1028698,1028698,1212176423189909506,and he still cheating https://t.co/zYAQ8wc6Vg,3322006549,2020-01-01 00:59:15,Quote Tweet,2,2,1,7,iPhone,en,"['10', '60']","['Person', 'Athlete']","[ReferencedTweet(id: 1211878384961228802, type...",1211878384961228800
3,1028697,1028697,1212176425916280833,Got my hot coco bc it cold out siiiiide boii h...,18707915,2020-01-01 00:59:15,Original Tweet,1,1,0,0,iPhone,en,[],[],NaN,0
4,1028696,1028696,1212176426088181760,Disgruntled Pope Francis pulls himself free fr...,858762062,2020-01-01 00:59:15,Original Tweet,0,0,0,0,Android,en,"['10', '46', '47']","['Person', 'Brand Category', 'Brand']",NaN,0

In [195]:
def calculate_tweet_reach(tweet_id, user_id, topics, retweets_count, ref_tweed_id):
    total_reach = 0
    total_reach += df_users[df_users['user_id'] == user_id]['followers'].sum()
    if topics != '[]' and retweets_count > 0:
        if ref_tweed_id is not None and ref_tweed_id != 0:
            total_reach += df_retweets_info[(df_retweets_info['ref_tweed_id'] == tweet_id) | (df_retweets_info['ref_tweed_id'] == ref_tweed_id)]['followers'].sum()
        else:
            total_reach += df_retweets_info[df_retweets_info['ref_tweed_id'] == tweet_id]['followers'].sum()
    return total_reach

In [198]:
df_tweets['reach'] = df_tweets.apply(lambda tweet_row: calculate_tweet_reach(tweet_row['tweet_id'], tweet_row['user_id'], tweet_row['topics'], tweet_row['retweet_count'], tweet_row['ref_tweed_id']), axis=1)
df_tweets.head(5)

tweet_id 1212176423189909506
ref_tweed_id 1211878384961228800
default 653
after search 13837

tweet_id 1212176429053550593
ref_tweed_id 0
default 2636
basic search 3322

tweet_id 1212176436783656960
ref_tweed_id 0
default 2528
basic search 2528

tweet_id 1212176450679377921
ref_tweed_id 1212175890785996800
default 20
after search 40

tweet_id 1212176465560657921
ref_tweed_id 0
default 366
basic search 366

tweet_id 1212176474158977029
ref_tweed_id 0
default 2352
basic search 2352

tweet_id 1212176484938506240
ref_tweed_id 0
default 1856
basic search 1856

tweet_id 1212176491649339392
ref_tweed_id 1212174934308524032
default 5516
after search 5516

tweet_id 1212176495201927168
ref_tweed_id 0
default 137
basic search 4833

tweet_id 1212176506060828672
ref_tweed_id 0
default 894
basic search 894

tweet_id 1212176514311184386
ref_tweed_id 0
default 707
basic search 804

tweet_id 1212176515590434816
ref_tweed_id 1212121574901313536
default 62081
after search 62081

tweet_id 1212176527900729345
ref_tweed_id 0
default 1714
basic search 1714

tweet_id 1212176548620636160
ref_tweed_id 1212083225700556800
default 3362
after search 3362

tweet_id 1212176547731378183
ref_tweed_id 0
default 596
basic search 596

tweet_id 1212176549769830401
ref_tweed_id 0
default 12273
basic search 80338

tweet_id 1212176570502266885
ref_tweed_id 0
default 923
basic search 207699

tweet_id 1212176582435061762
ref_tweed_id 0
default 131
basic search 3325

tweet_id 1212176585123647489
ref_tweed_id 0
default 268
basic search 479629

tweet_id 1212176593600286720
ref_tweed_id 0
default 13791
basic search 13791

tweet_id 1212176594992848898
ref_tweed_id 1212173820645261312
default 384
after search 384

tweet_id 1212176602404151297
ref_tweed_id 0
default 101
basic search 101

tweet_id 1212282078085054464
ref_tweed_id 0
default 1968
basic search 2353

tweet_id 1212282086536761345
ref_tweed_id 1212237712863961088
default 578
after search 578

tweet_id 1212282093339758592
ref_tweed_id 0
default 21204
basic search 29746

tweet_id 1212282119239680001
ref_tweed_id 1212252170441154560
default 1195
after search 1195

tweet_id 1212282121596784640
ref_tweed_id 0
default 9364
basic search 9364

tweet_id 1212282134112563200
ref_tweed_id 0
default 588
basic search 1164

tweet_id 1212282151703437312
ref_tweed_id 0
default 600
basic search 864

tweet_id 1212282179050450944
ref_tweed_id 1212275555816620032
default 1512
after search 1512

tweet_id 1212282210453204993
ref_tweed_id 0
default 497
basic search 497

tweet_id 1212282219412279298
ref_tweed_id 0
default 410
basic search 2541

tweet_id 1212282235996360705
ref_tweed_id 0
default 513
basic search 513

tweet_id 1212282235547791360
ref_tweed_id 0
default 497
basic search 497

tweet_id 1212282247325179905
ref_tweed_id 0
default 18532
basic search 18532

tweet_id 1212282303566798848
ref_tweed_id 0
default 30687
basic search 30687

tweet_id 1212372399175426048
ref_tweed_id 0
default 258
basic search 258

tweet_id 1212372400773455880
ref_tweed_id 1211474938894438400
default 881
after search 881

tweet_id 1212372437452705797
ref_tweed_id 0
default 6947
basic search 46745

tweet_id 1212372473217536001
ref_tweed_id 1212167554048892928
default 5222
after search 5222

tweet_id 1212372501277360128
ref_tweed_id 0
default 1097
basic search 1097

tweet_id 1212372522601193473
ref_tweed_id 0
default 2822
basic search 3616

tweet_id 1212372558672269313
ref_tweed_id 0
default 423
basic search 423

tweet_id 1212372575789162497
ref_tweed_id 0
default 623
basic search 719

tweet_id 1212372596454559744
ref_tweed_id 0
default 23593
basic search 56548

tweet_id 1212372598966947840
ref_tweed_id 0
default 3143
basic search 3143

tweet_id 1212372620588531713
ref_tweed_id 0
default 7981
basic search 8096

tweet_id 1212372647666995200
ref_tweed_id 0
default 12372
basic search 13182

tweet_id 1212372665308262401
ref_tweed_id 0
default 244
basic search 1157

tweet_id 1212372677190672384
ref_tweed_id 0
default 8560
basic search 9271

tweet_id 1212372707246870534
ref_tweed_id 0
default 3754
basic search 27058

tweet_id 1212372710682169348
ref_tweed_id 0
default 9026
basic search 9174

tweet_id 1212372721771929600
ref_tweed_id 0
default 437
basic search 437

tweet_id 1212372724175245312
ref_tweed_id 1212355541571448832
default 29642
after search 29642

tweet_id 1212372725869826049
ref_tweed_id 0
default 64200
basic search 223675

tweet_id 1212372755905208320
ref_tweed_id 1212225231143755776
default 243
after search 243

tweet_id 1212372759759773706
ref_tweed_id 0
default 29619
basic search 29619

tweet_id 1212372775656198145
ref_tweed_id 0
default 324
basic search 428

tweet_id 1212372787744120832
ref_tweed_id 0
default 1014
basic search 1014

tweet_id 1212372796594106379
ref_tweed_id 0
default 421
basic search 421

tweet_id 1212372830123364352
ref_tweed_id 0
default 964
basic search 964

tweet_id 1212372858485321730
ref_tweed_id 0
default 1739
basic search 1739

tweet_id 1212372863891705856
ref_tweed_id 0
default 5817
basic search 6269

tweet_id 1212372873815478272
ref_tweed_id 0
default 306107
basic search 324985

tweet_id 1212372879074922496
ref_tweed_id 0
default 10986
basic search 11141

tweet_id 1212448223102586880
ref_tweed_id 0
default 5276
basic search 5276

tweet_id 1212448247236747265
ref_tweed_id 0
default 575
basic search 575

tweet_id 1212448269307142145
ref_tweed_id 1212431271110070272
default 1384
after search 6353

tweet_id 1212448283471306753
ref_tweed_id 1212077226608545792
default 3506
after search 4588

tweet_id 1212448291574693889
ref_tweed_id 0
default 18118
basic search 32192

tweet_id 1212448301330644998
ref_tweed_id 1212445089349455872
default 5266
after search 5266

tweet_id 1212448327016632321
ref_tweed_id 0
default 5624
basic search 15053

tweet_id 1212448335656673281
ref_tweed_id 1212403363326779392
default 5111
after search 5111

tweet_id 1212448340748722178
ref_tweed_id 1210725669388210176
default 233
after search 233

tweet_id 1212448342040600576
ref_tweed_id 0
default 90
basic search 90

tweet_id 1212448346188763143
ref_tweed_id 0
default 2112
basic search 3654

tweet_id 1212448351028944898
ref_tweed_id 1212422416716247040
default 173836
after search 173836

tweet_id 1212448349791477760
ref_tweed_id 1212447525258612736
default 18461
after search 18461

tweet_id 1212448358721187841
ref_tweed_id 1212203693677801472
default 13902
after search 14598

tweet_id 1212448359329521670
ref_tweed_id 1212173904824934400
default 171
after search 171

tweet_id 1212448368779288578
ref_tweed_id 0
default 291
basic search 1616

tweet_id 1212448366124314624
ref_tweed_id 0
default 3349
basic search 3349

tweet_id 1212448370872266753
ref_tweed_id 0
default 7166
basic search 7182

tweet_id 1212448376937054208
ref_tweed_id 0
default 1857
basic search 1857

tweet_id 1212448384402898944
ref_tweed_id 0
default 209
basic search 868

tweet_id 1212448390069534721
ref_tweed_id 0
default 183
basic search 183

tweet_id 1212448392300941317
ref_tweed_id 1212447068406648832
default 1059
after search 1059

tweet_id 1212448395908075521
ref_tweed_id 0
default 2501
basic search 2501

tweet_id 1212493518372913152
ref_tweed_id 0
default 2189
basic search 2293

tweet_id 1212493521791410183
ref_tweed_id 1212448431047946240
default 10650
after search 10650

tweet_id 1212493535070638080
ref_tweed_id 0
default 933
basic search 3747

tweet_id 1212493539495436288
ref_tweed_id 1212490099771920384
default 12142
after search 12142

tweet_id 1212493539176636416
ref_tweed_id 0
default 7191
basic search 8487

tweet_id 1212493551201742848
ref_tweed_id 0
default 63
basic search 63

tweet_id 1212493553563127808
ref_tweed_id 0
default 1107
basic search 42302

tweet_id 1212493554595053572
ref_tweed_id 1212478977052479488
default 1389
after search 1389

tweet_id 1212493556968935424
ref_tweed_id 0
default 91
basic search 1571

tweet_id 1212493570533449729
ref_tweed_id 1212267522709319680
default 114
after search 114

tweet_id 1212493569530970116
ref_tweed_id 1212489459347972096
default 2340
after search 2340

tweet_id 1212493573750509579
ref_tweed_id 0
default 6394
basic search 6562

tweet_id 1212493581698490368
ref_tweed_id 0
default 101
basic search 101

tweet_id 1212493585867608066
ref_tweed_id 1211870891962966016
default 330
after search 330

tweet_id 1212493590540279810
ref_tweed_id 0
default 591
basic search 591

tweet_id 1212493590695469063
ref_tweed_id 0
default 18866
basic search 53200

tweet_id 1212493604956114949
ref_tweed_id 1212424999098671104
default 51
after search 51

tweet_id 1212493609250877441
ref_tweed_id 0
default 455
basic search 455

tweet_id 1212493609477529600
ref_tweed_id 1211893396215910400
default 23924
after search 31210

tweet_id 1212493630721671170
ref_tweed_id 0
default 25803
basic search 48040

tweet_id 1212493665328861184
ref_tweed_id 0
default 600
basic search 600

tweet_id 1212493663458205701
ref_tweed_id 0
default 3643
basic search 4063

tweet_id 1212493673272872960
ref_tweed_id 0
default 352
basic search 352

tweet_id 1212493678561955840
ref_tweed_id 0
default 1166
basic search 1166

tweet_id 1212493679476133888
ref_tweed_id 0
default 43105
basic search 86238

tweet_id 1212493683985145857
ref_tweed_id 0
default 6122
basic search 6122

tweet_id 1212493686426284032
ref_tweed_id 0
default 1913
basic search 4001

tweet_id 1212493692231176192
ref_tweed_id 0
default 88306
basic search 88629

tweet_id 1212493694273761281
ref_tweed_id 0
default 498
basic search 498

tweet_id 1212493697847365632
ref_tweed_id 1212057530832228352
default 1400
after search 1400

tweet_id 1212493697981530112
ref_tweed_id 0
default 83
basic search 83

tweet_id 1212538803203772416
ref_tweed_id 0
default 312
basic search 1933

tweet_id 1212538804734693376
ref_tweed_id 0
default 4711
basic search 33813

tweet_id 1212538806865399810
ref_tweed_id 0
default 729
basic search 729

tweet_id 1212538813274370048
ref_tweed_id 0
default 174
basic search 174

tweet_id 1212538817086930944
ref_tweed_id 0
default 6504
basic search 8232

tweet_id 1212538821767815168
ref_tweed_id 0
default 1085
basic search 1085

tweet_id 1212538861781430272
ref_tweed_id 1212483054985457664
default 54370
after search 54370

tweet_id 1212538874829967365
ref_tweed_id 1212437410811916288
default 7332
after search 7332

tweet_id 1212538886695444481
ref_tweed_id 0
default 351
basic search 351

tweet_id 1212538909097385984
ref_tweed_id 0
default 511
basic search 1237

tweet_id 1212538931704561665
ref_tweed_id 0
default 420
basic search 420

tweet_id 1212538929422823424
ref_tweed_id 0
default 62
basic search 327

tweet_id 1212538931629187073
ref_tweed_id 0
default 430
basic search 789

tweet_id 1212538932493193216
ref_tweed_id 0
default 41
basic search 22580

tweet_id 1212538957239476224
ref_tweed_id 0
default 6879
basic search 6879

tweet_id 1212538967654125568
ref_tweed_id 0
default 489
basic search 16940

tweet_id 1212538969088516097
ref_tweed_id 0
default 596
basic search 3460

tweet_id 1212538996926099462
ref_tweed_id 0
default 144
basic search 144

tweet_id 1212644105257226242
ref_tweed_id 0
default 567
basic search 749

tweet_id 1212644128082812928
ref_tweed_id 0
default 886
basic search 886

tweet_id 1212644275831242758
ref_tweed_id 0
default 5776
basic search 5776

tweet_id 1212644280264728576
ref_tweed_id 0
default 301
basic search 301

tweet_id 1212644290544967681
ref_tweed_id 0
default 158
basic search 341

tweet_id 1212644295531843589
ref_tweed_id 1212256918061961216
default 1376
after search 1376

tweet_id 1212644314918084609
ref_tweed_id 0
default 1651
basic search 5139

tweet_id 1212644492680949761
ref_tweed_id 0
default 3590
basic search 3590

tweet_id 1212644506992041984
ref_tweed_id 0
default 110120
basic search 110120

tweet_id 1212644517821714432
ref_tweed_id 0
default 186
basic search 186

tweet_id 1212644565091586049
ref_tweed_id 1212601196290215936
default 552
after search 552

tweet_id 1212644570514653184
ref_tweed_id 0
default 2190
basic search 2190

tweet_id 1212644600885792768
ref_tweed_id 1212642075549806592
default 325
after search 2506

tweet_id 1212644655923441664
ref_tweed_id 0
default 1588
basic search 1588

tweet_id 1212734876325228544
ref_tweed_id 0
default 97
basic search 97

tweet_id 1212734988996816896
ref_tweed_id 0
default 1671
basic search 1671

tweet_id 1212735014410031104
ref_tweed_id 0
default 435
basic search 435

tweet_id 1212735030813843457
ref_tweed_id 0
default 189
basic search 189

tweet_id 1212735047167594497
ref_tweed_id 1212492165844291584
default 766
after search 766

tweet_id 1212735094298959872
ref_tweed_id 0
default 1057
basic search 2114

tweet_id 1212735119045386242
ref_tweed_id 0
default 720
basic search 720

tweet_id 1212735162980741120
ref_tweed_id 0
default 8703
basic search 8703

tweet_id 1212735179506307072
ref_tweed_id 1212235605184303104
default 13308
after search 13308

tweet_id 1212735186653401088
ref_tweed_id 0
default 322708
basic search 826989

tweet_id 1212735197382402048
ref_tweed_id 0
default 251
basic search 646

tweet_id 1212735240269189121
ref_tweed_id 0
default 377
basic search 2625

tweet_id 1212735246870994944
ref_tweed_id 1212731503815413760
default 10214
after search 10214

tweet_id 1212735274712584192
ref_tweed_id 0
default 1176
basic search 1176

tweet_id 1212735280240906242
ref_tweed_id 0
default 260
basic search 2530

tweet_id 1212810591468969986
ref_tweed_id 0
default 299
basic search 299

tweet_id 1212810594107166721
ref_tweed_id 1212799699725496320
default 1415
after search 1415

tweet_id 1212810594765737985
ref_tweed_id 0
default 684
basic search 684

tweet_id 1212810600394264576
ref_tweed_id 0
default 74294
basic search 74294

tweet_id 1212810613765922819
ref_tweed_id 0
default 252
basic search 1602

tweet_id 1212810633839669253
ref_tweed_id 0
default 1567
basic search 1567

tweet_id 1212810638864650241
ref_tweed_id 0
default 303
basic search 303

tweet_id 1212810642941300736
ref_tweed_id 0
default 350
basic search 350

tweet_id 1212810646129008641
ref_tweed_id 0
default 1569
basic search 20147

tweet_id 1212810670829273088
ref_tweed_id 0
default 467
basic search 2663

tweet_id 1212810679616327680
ref_tweed_id 0
default 4868
basic search 29775

tweet_id 1212810691012263937
ref_tweed_id 0
default 239
basic search 239

tweet_id 1212810698297876480
ref_tweed_id 1212765492995350528
default 201607
after search 201607

tweet_id 1212810713426726913
ref_tweed_id 0
default 450
basic search 617

tweet_id 1212810717180547072
ref_tweed_id 0
default 1462
basic search 2197

tweet_id 1212810730321465344
ref_tweed_id 0
default 335
basic search 335

tweet_id 1212810735748816898
ref_tweed_id 0
default 13391
basic search 18765

tweet_id 1212810739255304193
ref_tweed_id 1212709953410129920
default 48704
after search 48704

tweet_id 1212810766736384006
ref_tweed_id 0
default 1600
basic search 1643

tweet_id 1212810783308046339
ref_tweed_id 0
default 5954
basic search 11908

tweet_id 1212810790064906240
ref_tweed_id 0
default 169
basic search 169

tweet_id 1212855900005896192
ref_tweed_id 0
default 40239
basic search 40614

tweet_id 1212855910059528192
ref_tweed_id 1212851566857687040
default 339
after search 339

tweet_id 1212855909480882176
ref_tweed_id 0
default 18039
basic search 18039

tweet_id 1212855917018001409
ref_tweed_id 0
default 4506
basic search 8761

tweet_id 1212855918221824001
ref_tweed_id 1212850181315674112
default 30587
after search 30587

tweet_id 1212855943333064704
ref_tweed_id 0
default 192245
basic search 198507

tweet_id 1212855960030588931
ref_tweed_id 0
default 909
basic search 1747

tweet_id 1212855963163746304
ref_tweed_id 0
default 171
basic search 232

tweet_id 1212855964145246214
ref_tweed_id 0
default 5086
basic search 5086

tweet_id 1212855976103165953
ref_tweed_id 0
default 288
basic search 6345

tweet_id 1212855980519821313
ref_tweed_id 0
default 670
basic search 670

tweet_id 1212855990267211779
ref_tweed_id 0
default 406
basic search 406

tweet_id 1212855999226417152
ref_tweed_id 1212568099062517760
default 670
after search 670

tweet_id 1212856015668031490
ref_tweed_id 0
default 787
basic search 787

tweet_id 1212856038166278144
ref_tweed_id 1212421673628119040
default 1132
after search 1132

tweet_id 1212856036219969536
ref_tweed_id 0
default 1639
basic search 2250

tweet_id 1212856034936655872
ref_tweed_id 0
default 1157
basic search 1157

tweet_id 1212856049063071744
ref_tweed_id 0
default 1854
basic search 11465

tweet_id 1212856067681599488
ref_tweed_id 1024291642222817280
default 4272
after search 20438

tweet_id 1212856079044038658
ref_tweed_id 0
default 6445
basic search 6445

tweet_id 1212856077064253440
ref_tweed_id 1212793020866842624
default 2640
after search 2640

tweet_id 1212901180063584262
ref_tweed_id 0
default 1977
basic search 9355

tweet_id 1212901191757127680
ref_tweed_id 1212786686238740480
default 35269
after search 35269

tweet_id 1212901190553554945
ref_tweed_id 0
default 3517
basic search 10275

tweet_id 1212901214523801600
ref_tweed_id 1212867036411392000
default 807
after search 807

tweet_id 1212901220823764992
ref_tweed_id 0
default 406
basic search 8675

tweet_id 1212901235164172288
ref_tweed_id 0
default 3494
basic search 123125

tweet_id 1212901241493307392
ref_tweed_id 0
default 30119
basic search 30119

tweet_id 1212901246388047873
ref_tweed_id 1212856022404157440
default 2568
after search 2568

tweet_id 1212901248971591680
ref_tweed_id 0
default 547
basic search 547

tweet_id 1212901258157285388
ref_tweed_id 0
default 75
basic search 75

tweet_id 1212901263551188994
ref_tweed_id 0
default 1044
basic search 1044

tweet_id 1212901262473084928
ref_tweed_id 0
default 3993
basic search 4139

tweet_id 1212901265941897216
ref_tweed_id 0
default 7128
basic search 7128

tweet_id 1212901272564703232
ref_tweed_id 0
default 6193
basic search 6193

tweet_id 1212901339447078913
ref_tweed_id 0
default 169
basic search 236

tweet_id 1212901383378210816
ref_tweed_id 0
default 1174
basic search 3889

tweet_id 1213006601797292032
ref_tweed_id 0
default 55256
basic search 55256

tweet_id 1213006614233407488
ref_tweed_id 0
default 155
basic search 155

tweet_id 1213006636975054848
ref_tweed_id 0
default 26533
basic search 26533

tweet_id 1213006661092290560
ref_tweed_id 0
default 14473
basic search 14473

tweet_id 1213006670558744576
ref_tweed_id 0
default 470
basic search 470

tweet_id 1213006700803788801
ref_tweed_id 0
default 3183
basic search 5523

tweet_id 1213006738384920576
ref_tweed_id 1212949253217247232
default 4212
after search 4212

tweet_id 1213006922330312704
ref_tweed_id 0
default 866
basic search 3867

tweet_id 1213006962721357824
ref_tweed_id 0
default 18880
basic search 22994

tweet_id 1213006966622060545
ref_tweed_id 1212846316281311232
default 2503
after search 2503

tweet_id 1213006987157495809
ref_tweed_id 0
default 8219
basic search 8219

tweet_id 1213007041775706113
ref_tweed_id 0
default 3969
basic search 3969

tweet_id 1213007049208082432
ref_tweed_id 0
default 513
basic search 513

tweet_id 1213097346084540416
ref_tweed_id 0
default 800
basic search 800

tweet_id 1213097355886682113
ref_tweed_id 1212978103007535104
default 1529
after search 1529

tweet_id 1213097362333294592
ref_tweed_id 0
default 2297
basic search 2654

tweet_id 1213097369421647873
ref_tweed_id 0
default 1208
basic search 1208

tweet_id 1213097377353084928
ref_tweed_id 1212761465704370176
default 7122
after search 7122

tweet_id 1213097379848769536
ref_tweed_id 0
default 16534
basic search 50077

tweet_id 1213097393153093634
ref_tweed_id 0
default 7379
basic search 7379

tweet_id 1213097427164684289
ref_tweed_id 0
default 46
basic search 105

tweet_id 1213097440594857984
ref_tweed_id 0
default 973
basic search 973

tweet_id 1213097446936600578
ref_tweed_id 1213097073857445888
default 9314
after search 9314

tweet_id 1213097450870857728
ref_tweed_id 0
default 23
basic search 292

tweet_id 1213097454725476354
ref_tweed_id 0
default 144
basic search 1109

tweet_id 1213097471334707200
ref_tweed_id 1212376543101517824
default 10665
after search 10665

tweet_id 1213097497704517632

KeyboardInterrupt:

## Topic analysis

### Loading the previously trained topic analysis model and it's evaluations of each tweet text

In [ ]:
df_tweets.head(5)

In [ ]:
def process_topic(topics:str):
    s = topics
    for i in range(topics.count('\'')):
        s = s.replace('\'', '"')
    t = json.loads(s)
    if len(t) > 0:
        return t[0]
    return None

In [ ]:
df_tweets['topics'] = df_tweets['topics'].apply(lambda topics: process_topic(topics))
df_tweets['topics_ids'] = df_tweets['topics_ids'].apply(lambda topics: process_topic(topics))
df_tweets.head(5)

### Sentiment analysis

In [ ]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

def sentiment_scores(sentence, prints):
    if prints: print("\nSentence:", sentence)

    sid_obj = SentimentIntensityAnalyzer()
    sentiment_dict = sid_obj.polarity_scores(sentence)

    if sentiment_dict['compound'] >= 0.05:
        if prints: print("Positive")
        return "Positive"
    elif sentiment_dict['compound'] <= - 0.05:
        if prints: print("Positive")
        return "Negative"
    else:
        if prints: print("Neutral")
        return "Neutral"

In [ ]:
df_tweets['sentiment'] = df_tweets['text'].apply(lambda tweet_text: sentiment_scores(tweet_text, False))

In [ ]:
df_tweets.head(5)

### Tweet popularity

To define tweet popularity, each tweet with at least 1 retweet or 1 quote tweet was considered popular (1)
if the criteria wasn't met it was marked as unpopular (0)

In [ ]:
def tweet_popularity_label(retweet_count, quote_count):
    if retweet_count > 0 or quote_count > 0:
        return 1
    else:
        return 0

In [ ]:
df_tweets['popularity'] = df_tweets.apply(lambda row: tweet_popularity_label(row['retweet_count'], row['quote_count']), axis=1)

In [ ]:
df_tweets['popularity'].value_counts()

## Combine the two datasets into the final one

For every tweet select the relevant columns and merge the corresponding information from the original user

In [ ]:
df_popularity = pd.merge(df_tweets[['tweet_id', 'text', 'timestamp', 'user_id', 'like_count', 'retweet_count', 'quote_count', 'reply_count', 'reach', 'topics_ids', 'topics', 'sentiment', 'popularity']],
                   df_users[['user_id', 'followers', 'following', 'tweet_count', 'verified', 'created_at']],
                   on="user_id")
df_popularity.head(5)

## Save the final version of the dataset

In [ ]:
df_popularity.to_csv(POPULARITY, sep=',', date_format='%Y-%m-%d %H:%M:%S')

In [ ]:
df_popularity